body {
  background: #3C3C62;
}
.modal {
  border-radius: 0;
  overflow-y: visible;
  max-height: none;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: center;
}
.modal > img {
  margin: auto;
  margin-bottom: 20px;
  max-height: 100px;
}
.modal > .modal-wrapper {
  background: #fff;
  border-bottom: 5px solid #0ff78d;
  color: #3C3C62;
  text-align: left;
}
.modal > .modal-wrapper > .modal-title {
  background: #3C3C62;
  color: #fff;
}
.modal > .modal-wrapper > .modal-title > h4 {
  margin-bottom: 0;
}
.modal h5 {
  padding-bottom: 20px;
}
.modal .buttons {
  padding-top: 25px;
}
.modal .btn {
  width: 100%;
  font-size: 18px;
  background: #0ff78d;
}
.modal .btn.modal-close {
  background: #3C3C62;
}
.modal label {
  color: #3C3C62;
}
.modal .input-field label.click-through {
  pointer-events: none;
}
.modal p label.snug {
  top: -30px;
}
.modal p label.snug.left {
  float: left;
}
.modal p label.snug.right {
  float: right;
}
.modal p label.snug:before {
  top: 2px!important;
}
.modal p label.snug:after {
  top: 2px!important;
  border-color: #0ff78d;
  background-color: #0ff78d;
}
.lean-overlay {
  background: url("modal.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.input-field label {
  text-transform: uppercase;
  color: #3C3C62;
}
.input-field input:not([type="checkbox"]),
.input-field textarea {
  border-bottom: 1px solid #3C3C62;
}
.input-field input:not([type="checkbox"]):focus,
.input-field textarea:focus {
  border-bottom: 1px solid #0ff78d !important;
  box-shadow: 0 1px 0 0 #0ff78d !important;
}
.input-field input:not([type="checkbox"]):focus + label,
.input-field textarea:focus + label {
  color: #0ff78d !important;
}
.input-field input[type="checkbox"]:checked + label:before {
  border-right: 2px solid #0ff78d !important;
  border-bottom: 2px solid #0ff78d !important;
}
.btn {
  background: #3C3C62;
}
.btn:hover {
  background: #0ff78d;
}
#loader,
#results-success,
#results-error {
  display: none;
}
